<header class="header">
  <div class="header__container container">
    <img class="header__logo" src="../../../../assets/shared/logo/logo.svg" alt="logo">
    <nav class="header__menu menu">
      <ul class="header__menu-list menu__list">
        <li class="header__menu-item menu__item">
          <a class="header__menu-link menu__link link" href="">Специалистам</a>
        </li>
        <li class="header__menu-item menu__item">
          <a class="header__menu-link menu__link link" href="">Преимущества</a>
        </li>
        <li class="header__menu-item menu__item">
          <a class="header__menu-link menu__link link" href="">Контакты</a>
        </li>
        <li class="header__menu-item menu__item">
          <a class="header__menu-link menu__link link" href="">Вход</a>
        </li>
      </ul>
      <a class="header__button link" href="">Выбрать специалиста</a>
    </nav>
  </div>
</header>
