.header {
  padding: 32px 0;

  .header__container {
    box-shadow: 0 0 8px 0 rgba(180, 180, 180, 0.4);
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 16px 40px;


    .header__logo {
      position: relative;
      top: -6px;
      scale: 0.9;
    }

    .header__menu {
      width: 735px;

      .header__menu-list {
        width: 430px;
      }
    }

    .header__button {
      border: 1px solid var(--red);
      border-radius: 50px;
      padding: 12px 39px;
      width: 242px;
      height: 48px;
      color: var(--red);
    }
  }
}
