<header class="header">
  <div class="header__container container">
    <a href="/">
      <img class="header__logo" src="../../../../assets/shared/logo/logo.svg" alt="logo">
    </a>
    <nav class="header__menu menu">
      <ul class="header__menu-list menu__list">
        <li class="header__menu-item menu__item">
          <a class="header__menu-link menu__link link" href="">Специалистам</a>
        </li>
        <li class="header__menu-item menu__item">
          <a class="header__menu-link menu__link link" href="#advantages">Преимущества</a>
        </li>
        <li class="header__menu-item menu__item">
          <a class="header__menu-link menu__link link" href="#conntacs">Контакты</a>
        </li>
        <li class="header__menu-item menu__item">
          <a class="header__menu-link menu__link link" href="/client/login">Вход</a>
        </li>
      </ul>
      <a class="header__button link" href="">Выбрать специалиста</a>
    </nav>
  </div>
</header>
