<main class="main">
    <section class="main__section info">
        <div class="main__container container flex">
            <div>
                <div class="info__block main-block">
                    <img class="main-block__img" alt="background"
                         src="../../../../assets/lending/info-section/main-block.png">
                    <h2 class="main-block__title block-title">Квалифицированная консультация<br>не выходя из дома!</h2>
                    <p class="main-block__text block-text">
                        Онлайн-консультация с нашим специалистом поможет вам получить ответы 
                        на все интересующие вопросы и найти пути решения ваших проблем.
                    </p>
                    <button class="main-block__button button">
                        <div class="button__symbols">
                            <span class="button__text">Узнать подробнее</span>
                            <span class="button__pointer material-symbols-outlined material-icons">keyboard_arrow_right</span>
                        </div>
                        <span class="button__circle" aria-hidden="true"></span>

                    </button>
                </div>
                <div class="mini-blocks flex">
                    <div class="info__block info__mini-block interest-block">
                        <h3 class="interest-block__title mini-block-title">
                            Психологичесая помощь
                        </h3>
                        <img class="interest-block__img" src="../../../../assets/lending/info-section/psychological-help.png" alt="phone">
                        <p class="interest-block__text">
                            Наша миссия – помочь людям справляться с жизненными трудностями.
                        </p>
                    </div>
                    <div class="info__block info__mini-block referral-block">
                        <div class="referral-block__buttons">
                            <div class="referral-block__button crowdinvesting-button">
                                <p class="referral-block__button-text">
                                    Консультации
                                </p>
                            </div>
                            <div class="referral-block__button passive-income-button">
                                <p class="referral-block__button-text">
                                    Тренинги
                                </p>
                            </div>
                        </div>
                        <img class="referral-block__img" src="../../../../assets/lending/info-section/referral-block.svg  " alt="referral">
                        <p class="referral-block__text block-text">
                            В нашей команде работают только высококвалифицированные и опытные специалисты.
                        </p>
                    </div>
                </div>
            </div>
            <div class="info__block img-block">
                <img class="img-block__img" alt="laptop"
                     src="../../../../assets/lending/info-section/laptop.png">
            </div>   
        </div>                 
    </section>
    <section class="main__section advantages">
        <div class="main__container container flex">
            <div class="advantages__main">
                <h2 class="advantages__main-title block-title">
                    Почему выбирают нас?
                </h2>
                <div class="advantages__pointer">
                    <img src="../../../../assets/lending/advantages-block/pointer.svg" alt="pointer" 
                        class="advantages__pointer-img">
                    <div class="advantages__pointer-button">
                        <p class="advantages__button-text">Наши преимущества</p>
                    </div>
                </div>
                <img src="../../../../assets/lending/advantages-block/advantages-background.png" 
                    alt="background" class="advantages__main-img">
            </div>
            <div class="advantages__cards">
                <div class="advantages__card advantages__card--type1">
                    <h2 class="advantages__card-title">Конфиденциальность</h2>
                    <img src="../../../../assets/lending/advantages-block/card1.svg" alt="line" 
                        class="advantages__card-img">
                    <p class="advantages__card-text">
                        Мы гарантируем полную анонимность и защиту ваших личных данных.
                    </p>
                </div>
                <div class="advantages__card advantages__card--type2">
                    <h2 class="advantages__card-title">Доступность</h2>
                    <img src="../../../../assets/lending/advantages-block/card2.svg" alt="line" 
                        class="advantages__card-img">
                    <p class="advantages__card-text">
                        Наш сервис доступен из любой точки мира, в любое удобное для вас время.
                    </p>
                </div>
                <div class="advantages__card advantages__card--type3">
                    <h2 class="advantages__card-title">Профессионализм</h2>
                    <img src="../../../../assets/lending/advantages-block/card3.svg" alt="line" 
                        class="advantages__card-img">
                    <p class="advantages__card-text">
                        Наш сервис доступен из любой точки мира, в любое удобное для вас время.
                    </p>
                </div>
                <div class="advantages__card advantages__card--type4">
                    <h2 class="advantages__card-title">Удобство</h2>
                    <img src="../../../../assets/lending/advantages-block/card4.svg" alt="line" 
                        class="advantages__card-img">
                    <p class="advantages__card-text">
                        Запись на консультации онлайн, без необходимости посещать офис.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="main__section conntacs">
        <div class="main__container container flex">
            <div class="conntacs__info">
                <div>
                    <h3 class="conntacs__info-title block-title">
                        Обратитесь к нам для получения подробной информации!
                    </h3>
                    <p class="conntacs__info-text">
                        Если вы хотите узнать больше информации о кабинете инвестора, 
                        свяжитесь с нами любым удобным способом: по телефону, 
                        электронной почте или через форму заявки на обратный звонок. 
                    </p>
                </div>
                <div class="conntacs__info-buttons flex">
                    <div class="conntacs__buttons-items">
                        <img src="../../../../assets/lending/contacts/email.svg" alt="email" 
                            class="conntacs__items-img">
                        <a href="mailto:info@sprosi.ru?subject=Обращение с сайта" 
                                class="contacts__items-text">
                            info&#64;sprosi.ru
                        </a>
                    </div>
                    <div class="conntacs__buttons-items">
                        <img src="../../../../assets/lending/contacts/phone.svg" alt="phone" 
                            class="conntacs__items-img">
                        <a href="tel:+79999999999" class="contacts__items-text">
                            +7 (999) 9 999 999
                        </a>
                    </div>
                </div>
            </div>
            <div class="conntacs__request">
                <h3 class="conntacs__request-title mini-block-title">
                    ЗАЯВКА НА ОБРАТНЫЙ ЗВОНОК
                </h3>
                <form [formGroup]="form"  (ngSubmit)="onSubmit()" 
                        class="conntacs__request-form">
                    <input class="conntacs__form-input" type="text"
                        formControlName="name" placeholder="Ваше имя">
                    <input class="conntacs__form-input" type="text"
                        formControlName="phone" placeholder="+7 (999) 999 99 99">
                    <button type="submit" [disabled]="form.invalid" 
                            class="conntacs__request-button">
                        Отправить
                    </button>   
                </form>
            </div>
        </div>
    </section>
</main>
