<main class="main">
    <div class="main__container container">
        <div class="psy-list">
            <h2 class="psy-list__title block-title">
                Наши специалисты
            </h2>
            <div class="psy-list__item psy">
                <img src="../../../../assets/photo.jpg" alt="psy" 
                    class="psy__block psy__block--photo">
                <div class="psy__block psy__block--info">
                    <h3 class="psy__name">Расул Галиев</h3>
                    <p class="psy__experience">Опыт работы: 12 лет</p>
                    <p class="psy__description">
                        Информация: Профессиональный психолог и опытная сваха. Индивидуальный подход.
                    </p>
                </div>
                <div class="psy__block psy__block--reviews">
                    <h3 class="psy__reviews-title">Отзывы</h3>
                    <div class="psy__review">
                        <h4 class="psy__review-author">Иван</h4>
                        <p class="psy__review-text">Все гуд!!!</p>
                    </div>
                    <div class="psy__review">
                        <h4 class="psy__review-author">Василий Петрович</h4>
                        <p class="psy__review-text">Мне все понравилось, этот психолог ваще красавичк!</p>
                    </div>
                    <div class="psy__review">
                        <h4 class="psy__review-author">Ойбэк</h4>
                        <p class="psy__review-text">Брат, ты профессионал своего дела!</p>
                    </div>
                    <a href="" class="psy__all-reviews">
                        Все отзывы...
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

