<footer class="footer">
  <div class="footer__container container">
    <a href="/">
      <img class="footer__logo" src="../../../../assets/shared/logo/logo.svg" alt="logo">
    </a>
    <nav class="footer__menu menu">
      <ul class="footer__menu-list menu__list">
        <li class="footer__menu-item menu__item">
          <a class="footer__menu-link menu__link link" href="">Специалистам</a>
        </li>
        <li class="footer__menu-item menu__item">
          <a class="footer__menu-link menu__link link" href="#advantages">Преимущества</a>
        </li>
        <li class="footer__menu-item menu__item">
          <a class="header__menu-link menu__link link" href="#conntacs">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
